body {
    background-color: #000;
    color: #fff;
    font-family: arial;
}

#outer-wrapper {
    background: #fff;
    color: #000;
    margin: 0px auto;
    width: 950px;
}

#header-wrapper {
    background: #ff4949;
    color: #fff;
    margin: 10px;
    padding: 10px;
    clear: both;
}

#content-wrapper {
    position: relative;
    margin: 0px auto;
    clear: both;
}

#main-wrapper {
    background: #ffff65;
    color: #000;
    margin: 10px;
    margin-right: 270px;
    padding: 10px;
}

#sidebar-wrapper {
    background: #b3fe3d;
    color: #000;
    margin: 10px;
    margin-top: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 250px;
    height: 100%;
}

#sidebar-wrapper .widget-content {
    margin: 10px;
}

#footer-wrapper {
    background: #40ebfe;
    color: #000;
    margin: 10px;
    padding: 10px;
}
